<!DOCTYPE html>
<html>
  <head>
    <title>TwitterClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      MyPracticeSite
    </header>
      <%= yield %>
    <footer>
      © 2023 MyPracticeSite. All Rights Reserved.
    </footer>
  </body>
</html>
